@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-_black text-_white font-suisse;
  scroll-behavior: smooth;
  overflow: hidden;
}

.h-screen {
  height: 100dvh !important;
}

.w-screen {
  width: 100dvw !important;
}
